# Question 1

###### 10 ceshid mehsul var ve her mehsullarin qiymetleri ferqli valyuta novlerindedir. bu mehsullari satisha cixarmazdan evvel manat uzre satish qiymeti duzeltmeli ve cedvel sheklinde bazaya yigilmalidir. Cedveller istekden asili olaraq .csv ve ya .xlsx faylinda bazaya oturula biler.

In [2]:
import pandas as pd

products = []
prices = []
currencies = []

for i in range(1,11):
    product = input('Please Enter the product:')
    products.append(product)
    price = float(input('Please Enter the price:'))
    prices.append(price)
    currency = input('Please Enter the type of currency:')
    currencies.append(currency)
    #print(f"Information about {i} product:{product,price,currency}")
    all_data = list(zip(products,prices,currencies))
    df = pd.DataFrame(all_data,columns = ['Product','Price','Currency'])
    print(df)

Please Enter the product:Deep Learning with Python
Please Enter the price:34
Please Enter the type of currency:USD
                     Product  Price Currency
0  Deep Learning with Python   34.0      USD
Please Enter the product:Mont
Please Enter the price:200
Please Enter the type of currency:AZN
                     Product  Price Currency
0  Deep Learning with Python   34.0      USD
1                       Mont  200.0      AZN
Please Enter the product:Saat
Please Enter the price:45
Please Enter the type of currency:TL
                     Product  Price Currency
0  Deep Learning with Python   34.0      USD
1                       Mont  200.0      AZN
2                       Saat   45.0       TL
Please Enter the product:Sneaker
Please Enter the price:450
Please Enter the type of currency:TL
                     Product  Price Currency
0  Deep Learning with Python   34.0      USD
1                       Mont  200.0      AZN
2                       Saat   45.0       TL
3                    Sneaker  450.0       TL
Please Enter the product:Canta
Please Enter the price:12
Please Enter the type of currency:USD
                     Product  Price Currency
0  Deep Learning with Python   34.0      USD
1                       Mont  200.0      AZN
2                       Saat   45.0       TL
3                    Sneaker  450.0       TL
4                      Canta   12.0      USD
Please Enter the product:Xbox Wireless Controller
Please Enter the price:1290
Please Enter the type of currency:USD
                     Product   Price Currency
0  Deep Learning with Python    34.0      USD
1                       Mont   200.0      AZN
2                       Saat    45.0       TL
3                    Sneaker   450.0       TL
4                      Canta    12.0      USD
5   Xbox Wireless Controller  1290.0      USD
Please Enter the product:Top
Please Enter the price:45
Please Enter the type of currency:AZN
                     Product   Price Currency
0  Deep Learning with Python    34.0      USD
1                       Mont   200.0      AZN
2                       Saat    45.0       TL
3                    Sneaker   450.0       TL
4                      Canta    12.0      USD
5   Xbox Wireless Controller  1290.0      USD
6                        Top    45.0      AZN
Please Enter the product:NLP with Python
Please Enter the price:213
Please Enter the type of currency:USD
                     Product   Price Currency
0  Deep Learning with Python    34.0      USD
1                       Mont   200.0      AZN
2                       Saat    45.0       TL
3                    Sneaker   450.0       TL
4                      Canta    12.0      USD
5   Xbox Wireless Controller  1290.0      USD
6                        Top    45.0      AZN
7            NLP with Python   213.0      USD
Please Enter the product:Krampon
Please Enter the price:145
Please Enter the type of currency:TL
                     Product   Price Currency
0  Deep Learning with Python    34.0      USD
1                       Mont   200.0      AZN
2                       Saat    45.0       TL
3                    Sneaker   450.0       TL
4                      Canta    12.0      USD
5   Xbox Wireless Controller  1290.0      USD
6                        Top    45.0      AZN
7            NLP with Python   213.0      USD
8                    Krampon   145.0       TL
Please Enter the product:Esofman
Please Enter the price:235.99
Please Enter the type of currency:TL
                     Product    Price Currency
0  Deep Learning with Python    34.00      USD
1                       Mont   200.00      AZN
2                       Saat    45.00       TL
3                    Sneaker   450.00       TL
4                      Canta    12.00      USD
5   Xbox Wireless Controller  1290.00      USD
6                        Top    45.00      AZN
7            NLP with Python   213.00      USD
8                    Krampon   145.00       TL
9                    Esofman   235.99       TL

In [5]:
df.to_csv('mehsul.csv',index=False)

In [36]:
mehsul_df = pd.read_csv('mehsul.csv')
mehsul_df

                     Product    Price Currency
0  Deep Learning with Python    34.00      USD
1                       Mont   200.00      AZN
2                       Saat    45.00       TL
3                    Sneaker   450.00       TL
4                      Canta    12.00      USD
5   Xbox Wireless Controller  1290.00      USD
6                        Top    45.00      AZN
7            NLP with Python   213.00      USD
8                    Krampon   145.00       TL
9                    Esofman   235.99       TL

In [53]:
prices = []
currencies = []
products = []
for price in mehsul_df.Price:
    prices.append(price)
for currency in mehsul_df.Currency:
    currencies.append(currency)
for product in mehsul_df.Product:
    products.append(product)
#print(currencies,prices)
all_data = list(zip(currencies,prices))

In [54]:
price_in_azn = []
for currency,price in all_data:
    if currency == 'USD':
        price_in_azn.append(round(price * 1.7,2))
    elif currency == 'TL':
        price_in_azn.append(round(price * 0.09,2))
    elif currency == 'AZN':
        price_in_azn.append(round(price,2))

In [55]:
price_in_azn

[57.8, 200.0, 4.05, 40.5, 20.4, 2193.0, 45.0, 362.1, 13.05, 21.24]

In [56]:
my_df = list(zip(products,prices,currencies,price_in_azn))
my_df

[('Deep Learning with Python', 34.0, 'USD', 57.8),
 ('Mont', 200.0, 'AZN', 200.0),
 ('Saat', 45.0, 'TL', 4.05),
 ('Sneaker', 450.0, 'TL', 40.5),
 ('Canta', 12.0, 'USD', 20.4),
 ('Xbox Wireless Controller', 1290.0, 'USD', 2193.0),
 ('Top', 45.0, 'AZN', 45.0),
 ('NLP with Python', 213.0, 'USD', 362.1),
 ('Krampon', 145.0, 'TL', 13.05),
 ('Esofman', 235.99, 'TL', 21.24)]

In [57]:
mehsul_df = pd.DataFrame(data = my_df,columns=['Product','Price','Currency','Price_azn'])

In [59]:
mehsul_df.to_csv('final_data.csv',index=False)

In [60]:
final_data = pd.read_csv('final_data.csv')
final_data

                     Product    Price Currency  Price_azn
0  Deep Learning with Python    34.00      USD      57.80
1                       Mont   200.00      AZN     200.00
2                       Saat    45.00       TL       4.05
3                    Sneaker   450.00       TL      40.50
4                      Canta    12.00      USD      20.40
5   Xbox Wireless Controller  1290.00      USD    2193.00
6                        Top    45.00      AZN      45.00
7            NLP with Python   213.00      USD     362.10
8                    Krampon   145.00       TL      13.05
9                    Esofman   235.99       TL      21.24

# Question 2
#### Class icerisinde mushteri bazasi,anbar sistemi, yigilsin mehsul kodu olan ve qiymeti gorsenen bazaniz olsun. Bazani istediyiniz satish saytindan elde ede bilersiniz. ve bazadan her deqiqe satish edildikce cek vere bilsin. ve satilan her bir mehsul sayini muvafiq mehsuldan cixsin. en sonda gundelik heftelik ayliq ve illik anbar satish hesabati vere bilen sistem ishlemeye bashlasin.

<div class="alert alert-block alert-danger">
<b>with function:</b>
</div>

In [49]:
import pandas as pd
def sale():
    #anbar
    anbar = {}
    mehsul_ad = []
    mehsul_say = []
    types = int(input('How many products do you want? '))
    for i in range(types):
        mehsul_adi = str(input('The name of product: '))
        mehsul_sayi = int(input('The number of product: '))
        mehsul_ad.append(mehsul_adi)
        mehsul_say.append(mehsul_sayi)
        anbar = dict(zip(mehsul_ad,mehsul_say))
    display(anbar)
    
    #price       
    price = {}
    prices = []
    for n in range(types):     
        price = int(input('Please,Enter the products price: '))
        prices.append(price)
        price = dict(zip(mehsul_ad,prices))
    display(price)
    
    #satish ve musteri
    debt = 0
    say_list = []
    final = {}
    n = int(input('How many products do you want? '))
    for n in range(n):
        product = str(input('Which product? '))
        quantity = int(input('How many of it? '))
        for ad,say in price.items():
            if product == ad: 
                debt += price[product] * quantity
                #final anbar
                say_list.append(anbar[product] - quantity)
    final = dict(zip(mehsul_ad,say_list))
    print(f"Your debt is {debt}")
    print('******************')
    print('The store house:')
    display(final)
#         if product in mehsul_ad:
            
#         else:
#             print('Sorry,We dont have that product')
sale()

How many products do you want? 2
The name of product: Car
The number of product: 10
The name of product: Phone
The number of product: 10

{'Car': 10, 'Phone': 10}

Please,Enter the products price: 25000
Please,Enter the products price: 2500

{'Car': 25000, 'Phone': 2500}

How many products do you want? 2
Which product? Car
How many of it? 1
Which product? Phone
How many of it? 2
Your debt is 30000
******************
The store house:

{'Car': 9, 'Phone': 8}

<div class="alert alert-block alert-danger">
<b>with class:</b>
</div>

<div class="alert alert-block alert-danger">
<b>with pandas:</b>
</div>