### 1.

In [8]:
#Given a sorted array of distinct integers and a target value, return the index if the target is found. 
#If not, return the index where it would be if it were inserted in order.

nums = [1,3,5,6]
target = 7

In [9]:
for i in range(len(nums)):
    if target == nums[i]:
        print(i)
    elif target > nums[i] and target < nums[i+1]:
        print(i+1)

IndexError: list index out of range

### 2.

In [1]:
#Given a non-empty array of integers nums, every element appears twice except for one. Find that single one.

nums = [2,2,1]

### 3.

In [24]:
#Given the array nums consisting of 2n elements in the form [x1,x2,...,xn,y1,y2,...,yn].

nums = [1,2,3,4,4,3,2,1]
n = 4

new_list = []
for i in range(int(len(nums)/2)):
    new_list.append(nums[i])
    new_list.append(nums[i+n])

new_list

[1, 4, 2, 3, 3, 2, 4, 1]

### 4.

In [32]:
#There is a programming language with only four operations and one variable X:

#++X and X++ increments the value of the variable X by 1.
#--X and X-- decrements the value of the variable X by 1.

operations = ["--X","X++","X++"]

result = 0
for i in operations:
    if i == '++X' or i == 'X++':
        result = result + 1
    else:
        result = result - 1
result

1

### 5.

In [33]:
#There is an undirected star graph consisting of n nodes labeled from 1 to n. 
#A star graph is a graph where there is one center node and 
#exactly n - 1 edges that connect the center node with every other node.

edges = [[1,2],[5,1],[1,3],[1,4]]

In [48]:
[i for i in edges]

[[1, 2], [5, 1], [1, 3], [1, 4]]

### 6.

In [8]:
#Given an integer array nums and an integer val, remove all occurrences of val in nums in-place. 
#The order of the elements may be changed. Then return the number of elements in nums which are not equal to val.



nums = [3,2,2,3]
val = 3

In [9]:
new_nums = []
for i in nums:
    if i != val:
        new_nums.append(i)
for i in nums:
    if i == val:
        new_nums.append('_')

In [16]:
neww_list = []
for i in new_nums:
    if i != '_':
        neww_list.append(i)
neww_list

[2, 2]

### 7.

### 8.

In [55]:
#You are given a string title consisting of one or more words separated by a single space, 
#where each word consists of English letters. 
#If the length of the word is 1 or 2 letters, change all letters to lowercase.

title = "capiTalIze tHe titLe"
result = ''
for i in title.split(' '):
    word = i[0].upper() + i[1:len(i)].lower() 
    result += word + ' '
result[:-1]

'Capitalize The Title'

In [57]:
title = "First leTTeR of EACH Word"
result = ''
for i in title.split(' '):
    if len(i) > 2:
        word = i[0].upper() + i[1:len(i)].lower() 
        result += word + ' '
    else:
        word = i.lower() 
        result += word + ' '
result[:-1]

'First Letter of Each Word'

### 9.

In [39]:
word = 'HaSan'
if word[0] == word[0].upper() and word[1:len(word)] == word[1:len(word)].lower():
    print(True)

In [37]:
word[1:len(word)]

'asan'

### 10.

In [32]:
#Given a binary array nums, return the maximum number of consecutive 1's in the array.

nums = [1,1,0,1,1,1]
my_str = ''
my_str_1 = ''
counter = 0
for i in nums:  
    my_str_1 = my_str_1 + my_str.join(str(i))
max_len = 0
for i in my_str_1.split('0'):
    if len(i) > max_len:
        max_len = len(i)
max_len

3