In [1]:
import random
import numpy as np

# 1.

In [6]:
#string to integer

s = '4123 ada-'
result = 1
new_list = []
for i in s:
    if i in ['1','2','3','4','5','6','7','8','9','10','0']:
        new_list.append(i)
    if i == '-':
        result = result * (-1)
int(''.join(new_list)) * result

-4123

# 2.

In [2]:
#find the indexes that when we subtract them is equal to the target

nums = [2,7,11,15]
target = 9

In [10]:
for i in range(len(nums)-1):
    for j in range(1,len(nums)):
        if nums[i] + nums[j] == target:
            print(i,j)

0 1

# 3.

# 4.

# 5.

# 6.

In [55]:
#
grid = [[9,9,8,1],[5,6,2,6],[8,2,6,4],[6,2,2,2]]

In [65]:
storeIntRoman = [[1000, "M"], [900, "CM"], [500, "D"], [400, "CD"], [100, "C"], 
                [90, "XC"], [50, "L"], [40, "XL"], [10, "X"], [9, "IX"], [5, "V"], [4, "IV"], [1, "I"]]

# 7.

In [50]:
#Given a string s, reverse the order of characters in each word within a sentence 
#while still preserving whitespace and initial word order.

s = "Let's take LeetCode contest"

In [54]:
new_list = []
for i in s.split(' '):
    new_list.append(i[::-1])
' '.join(new_list)

"s'teL ekat edoCteeL tsetnoc"

# 8.

In [44]:
#You're given strings jewels representing the types of stones that are jewels, and stones representing the stones you have. 
#Each character in stones is a type of stone you have. You want to know how many of the stones you have are also jewels.

#Letters are case sensitive, so "a" is considered a different type of stone from "A".

jewels = "aA"
stones = "aAAbbbb"

In [49]:
count = 0
for i in stones:
    if i in jewels:
        count += 1
count

3

# 9.

In [40]:
#Given an integer n, return a string array answer (1-indexed) where:

#answer[i] == "FizzBuzz" if i is divisible by 3 and 5.
#answer[i] == "Fizz" if i is divisible by 3.
#answer[i] == "Buzz" if i is divisible by 5.
#answer[i] == i (as a string) if none of the above conditions are true

num = 15

In [43]:
new_list = list()
for i in range(1,num+1):
    if i % 3 == 0 and i % 5 != 0:
        new_list.append('Fizz')
    elif i % 3 != 0 and i % 5 == 0:
        new_list.append('Buzz')
    elif i % 3 == 0 and i % 5 != 0:
        new_list.append('FizzBuzz')
    else:
        new_list.append(str(i))
new_list

['1',
 '2',
 'Fizz',
 '4',
 'Buzz',
 'Fizz',
 '7',
 '8',
 'Fizz',
 'Buzz',
 '11',
 'Fizz',
 '13',
 '14',
 '15']

# 10.

In [37]:
#Given an integer array nums of 2n integers, group these integers into n pairs (a1, b1), (a2, b2), ...,
#(an, bn) such that the sum of min(ai, bi) for all i is maximized. Return the maximized sum.

nums = [6,2,6,5,1,2]

In [38]:
class Solution(object):
    def arrayPairSum(self, nums):
        """
        :type nums: List[int]
        :rtype: int
        """
        new_list = []
        for i in range(1,len(nums)+1):
            if i % 2 == 1:
                new_list.append(sorted(nums)[i-1])
        return np.sum(new_list)
Solution().arrayPairSum(nums)

9